assets/save/                                                                     
ignore/                                                                          
include/                                                                         
lib/                                                                             
raylib/                                                                          
run                                                                              
